:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: inline-block;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  text-align: center;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.portfolio-btn {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover, .portfolio-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.btn-submit {
  display: inline-block;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  background-color: #188ce8;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin-top: 30px;
  outline: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  border: 1px solid #e5e5e5;
  height: 80px;
}

.main-nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.site-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.page-header__logo_Web-color {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__logo_Web-color:hover, .page-header__logo_Web-color:focus {
  color: var(--accent-color);
}

.page-header__logo_Studio-color {
  color: #000000;
}

.site-nav__list {
  display: flex;
  margin-left: 93px;
}

.site-nav__list .site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link_underline::before {
  content: "";
  position: absolute;
  bottom: -32px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav__link_active-page,
.site-nav__link_active-page {
  color: var(--accent-color);
}

.contacts__list {
  display: flex;
  margin-left: auto;
}

.contacts__list .contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__link:hover svg,
.contacts__link:focus svg {
  fill: var(--accent-color);
}

.contacts__icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
}

.portfolio-btn__list {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 100px;
}

.portfolio-btn__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover, .portfolio-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: none;
}

.section-hero__title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 40px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.section-hero {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal__close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(161, 161, 161, 0.5);
  background-color: transparent;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal__form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal__input-wrapper {
  position: relative;
}

.modal__form-input {
  margin: 0;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:hover, .modal__form-input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.modal__icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.modal__form-comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 20px;
}

.modal__form-comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__icon-close {
  fill: #000000;
}

.modal__close-btn:hover .modal__icon-close {
  fill: var(--accent-color);
}

.modal__icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.modal__bottom-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-agreement {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.modal__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
}

.modal__form-input:focus + .modal__icon {
  fill: var(--accent-color);
  cursor: pointer;
}

.modal__form-input:hover + .modal__icon {
  fill: var(--accent-color);
  cursor: pointer;
}

.modal__icon_check {
  fill: var(--primary-white-color);
}

.modal__check {
  width: 16px;
  height: 15px;
  display: block;
  border: 2px solid var(--title-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.modal__input-checkbox:checked + .modal__text .modal__check {
  background-color: var(--accent-color);
  border: none;
}

.section-advantages {
  padding-top: 47px;
  padding-bottom: 47px;
}

.section-advantages__list {
  display: flex;
  justify-content: space-between;
}

.section-advantages__title {
  color: var(--title-text-color);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.14;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
}

.section-advantages__item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  padding: 25px 100px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.section-advantages__icon_antenna::before {
  background-image: url(../images/antenna.svg);
}

.section-advantages__icon_clock::before {
  background-image: url(../images/clock.svg);
}

.section-advantages__icon_vector::before {
  background-image: url(../images/vector.svg);
}

.section-advantages__icon_austronaut::before {
  background-image: url(../images/astonaut.svg);
}

.section-advantages__text {
  width: 270px;
  height: 75px;
  font-size: 14px;
  line-height: 1.71;
  padding: 0;
  margin-top: 0;
}

.section-photo {
  padding-top: 47px;
  padding-bottom: 47px;
}

.section-photo__title,
.section-clients-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.section-photo__list {
  display: flex;
  justify-content: space-between;
}

.section-photo__item {
  position: relative;
}

.section-photo__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  margin: 0;
}

.section-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--secondary-bg-color);
  padding-top: 47px;
  margin-top: 47px;
  padding-top: 47px;
  padding-bottom: 94px;
}

.section-team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  display: inline-block;
  color: var(--title-text-color);
}

.section-team__list {
  display: flex;
}

.section-team__item {
  margin-right: 30px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-team__item:not(:last-child) {
  margin-right: 30px;
}

.section-team__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.section-team__profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  margin-top: 0;
  margin-bottom: 16px;
}

.social-networks__list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.social-networks__link {
  width: 44px;
  height: 44px;
  display: block;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__link:hover, .social-networks__link:focus {
  background-color: var(--accent-color);
}

.social-networks__icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  display: flex;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__link:hover .social-networks__icon,
.social-networks__link:focus .social-networks__icon {
  fill: #ffffff;
}

.section-clients {
  padding-top: 47px;
  padding-bottom: 47px;
}

.section-clients__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.section-clients__list {
  margin-right: 30px;
  display: flex;
}

.section-clients__item + .section-clients__item {
  margin-left: 30px;
}

.section-clients__link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 94px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients__link:hover, .section-clients__link:focus {
  border-color: var(--accent-color);
}

.section-clients__icon {
  width: 106px;
  height: 60px;
  display: inline-block;
  display: flex;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients__link:hover .section-clients__icon,
.section-clients__link:focus .section-clients__icon {
  fill: var(--accent-color);
}

.page-footer {
  background-color: #2f303a;
  line-height: 1.71;
  height: 252px;
  padding-top: 60px;
}

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.page-footer__logo_Web-color {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__logo_Studio-inverse-color {
  color: var(--primary-white-color);
}

.page-footer__address {
  color: var(--primary-white-color);
  font-style: normal;
  letter-spacing: 0.03em;
  padding-top: 20px;
  padding-bottom: 9px;
}

.page-footer__contacts {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  line-height: 1.14;
  padding-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__contacts:hover, .page-footer__contacts:focus {
  color: var(--accent-color);
}

.page-footer__central-part {
  margin-left: 70px;
}

.page-footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.social-networks__list_footer {
  display: flex;
}

.social-networks__item + .social-networks__item {
  margin-left: 10px;
}

.social-networks__link_footer {
  width: 44px;
  height: 44px;
  display: block;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.social-networks__link_footer:hover, .social-networks__link_footer:focus {
  background-color: var(--accent-color);
}

.social-networks__link_footer .social-networks__icon_footer {
  fill: #ffffff;
  width: 20px;
  height: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__right-part {
  margin-left: 93px;
}

.page-footer__forms {
  display: flex;
}

.page-footer__input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  padding: 15px;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.page-footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.right-part__icon {
  fill: var(--primary-white-color);
  margin-left: 10px;
}

.portfolio {
  margin-bottom: 47px;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__item {
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
  margin-right: 30px;
  margin-top: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover, .portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__item:nth-child(3n) {
  margin-right: 0;
}

.portfolio__description {
  position: relative;
  overflow: hidden;
}

.portfolio__text-above {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: var(--accent-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover .portfolio__text-above {
  transform: translateY(0%);
}

.portfolio__text {
  padding-left: 24px;
}

.portfolio__example {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-top: 20px;
  margin-bottom: 0;
}

.portfolio__type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
  margin-top: 4px;
  margin-bottom: 20px;
}
/*# sourceMappingURL=main.css.map */