.page-footer {
  background-color: #2f303a;
  line-height: 1.71;
  height: 252px;
  padding-top: 60px;
}

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.page-footer__logo_Web-color {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__logo_Studio-inverse-color {
  color: var(--primary-white-color);
}

.page-footer__address {
  color: var(--primary-white-color);
  font-style: normal;
  letter-spacing: 0.03em;
  padding-top: 20px;
  padding-bottom: 9px;
}

.page-footer__contacts {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  line-height: 1.14;
  padding-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.page-footer__central-part {
  margin-left: 70px;
}

.page-footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.social-networks__list_footer {
  display: flex;
}

.social-networks__item + .social-networks__item {
  margin-left: 10px;
}

.social-networks__link_footer {
  width: 44px;
  height: 44px;
  display: block;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-networks__link_footer .social-networks__icon_footer {
  fill: #ffffff;
  width: 20px;
  height: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__right-part {
  margin-left: 93px;
}

.page-footer__forms {
  display: flex;
}

.page-footer__input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  padding: 15px;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.page-footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.right-part__icon {
  fill: var(--primary-white-color);
  margin-left: 10px;
}
