.section-photo {
  padding-top: 47px;
  padding-bottom: 47px;
}

.section-photo__title,
.section-clients-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.section-photo__list {
  display: flex;
  justify-content: space-between;
}

.section-photo__item {
  position: relative;
}

.section-photo__text {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 370px;
  height: 70px;
  padding-top: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  margin: 0;
}
