.social-networks__list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.social-networks__link {
  width: 44px;
  height: 44px;
  display: block;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-networks__icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  display: flex;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .social-networks__link:hover &,
  .social-networks__link:focus & {
    fill: #ffffff;
  }
}
