.portfolio-btn__list {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 100px;
}

.portfolio-btn__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border: none;
    }
}

